[MASTER]

extension-pkg-allow-list=netifaces

[MESSAGES CONTROL]
enable=W,E,R,F,C

disable=missing-module-docstring,
        missing-class-docstring,
        line-too-long
        
[BASIC]

good-names=i,
           j,
           k,
           fd,
           ex,
           Run,
           ip,
