#
# this is the config test program
# 220402 PLH    First version
#

[Unit]
Description=Danwand Config Test 
Documentation=http://doc.danbots.com/mode/config.html
After=network.target
StartLimitIntervalSec=30

[Service]
Type=simple
Restart=on-failure
RestartSec=10
User=root
Environment=PYTHONUNBUFFERED=1
#StandardOutput=append:/var/log/config_service.log
StandardOutput=journal
ExecStart=/usr/local/bin/danwand/config_service  
WorkingDirectory=/tmp

