#
# this is the config test program
# 220402 PLH    First version
#

[Unit]
Description=Danwand Power Initialisation 
Documentation=http://doc.danbots.com/danwand/power.html
After=basic.target
#StartLimitIntervalSec=30

[Service]
Type=oneshot
#Restart=on-failure
#RestartSec=10
User=root
#Environment=PYTHONUNBUFFERED=1
#StandardOutput=append:/var/log/config_service.log
StandardOutput=journal
ExecStart=/usr/local/bin/danwand/power_init  
#WorkingDirectory=/tmp

[Install]
WantedBy=multi-user.target
